body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
 
}
div.a {
    width:700px;
    margin:150px auto;
}
div.b {
    padding:15px;
    border:1px solid;
}
.b h1 {
    margin: 0px;
}
.textareas {
    width: 300px;
    height: 200px;
}
.lightbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 250px auto;
    opacity: 0;
    z-index: -1;
}
.lightbox div{
    background: white;
    padding: 5px;
    width: 100px;
    height: 50px;
    margin: 0px auto;
    border: 1px solid;
    text-align: center;
}